#**Python Basics(Hindi)**

## **Index**

1.   Hello world
2.   Variables
3.   Input/Output
4. Performing calculations
5. Casting
6. If Elif Else
7. Booleans
8. Logical Statements
9. Lists
10. Slicing
11. Identity and Membership operators
12. Tuples
13. While Loops
14. For loops
15. Dictionaries
16. Functions
17. User defined function

Thank You

**Ex1 - Starting of with the Hello World in python.**

remember "#" or hastag is used to comment a line i.e it wont effet your code.

In [ ]:
print("hello, world")

hello, world

**Ex-2  Variables**

Ex2.1  String(Alphabets/letter/words) Variables.

In [ ]:
a = "Hello, World"            # Using these inverted quotes is important
print(a)          
print(a)                      # Don't use inverted quotes while printing a variable.

Hello, World
Hello, World

Ex 2.2 Integer(numbers) Variable

In [ ]:
a = 10                        # no need to use inverted quotes when declaring an integer
print(a)

10

Important tip:- in python python variables are mutable(changable) i.e their vales can be changed.
For Ex:-

In [ ]:
a = "hello"
print(a)
a = "hi"
print(a)
a = 10          # it doesn't matter which type of value you are asssigning
print(a)

hello
hi
10

Ex 2.3 Adding two strings. and two integers.

We use "+" to add to strings. and also to add to add two integers.

Ex 2.3.1 Adding two strings

In [ ]:
# adding two strings.
a = "Pranay"
b = "Joshi"
c = a+b
print(c)
# two print it seprately just add a blank space after "Pranay " or before " Joshi"
a = "Pranay "
b = "Joshi"
c = a+b
print(c)

PranayJoshi
Pranay Joshi

Ex 2.3.2  Adding two Integers

In [ ]:
a = 10
b = 20
c = a+b
print(c)

30

We will talk on performing calculations further.

Remember:- you can only add a strig with string or an integer with integer. 

You can not add a string with an integer

**Ex-3 Input/Output**

Ex 3.1:- Output

You might only be familiar with **print** command which is used to print/display the output

Here i am giving you different commands you may use when printing.

In [ ]:
print("9 D was the best class")   # normal

9 D was the best class

Printing sentence with new line

In [ ]:
# printing in new line
# we use \n inside the quotes while printing
print("9 D was the \nbest class.")

9 D was the
best class.

In [ ]:
# priting with the variable
a = "9 D was the"
b = "best class"
print(a+"\n"+b)       # Dont forget to use inverted quotes for "\n" or newline    and also don't use quotes for Variables

9 D was the
best class

Printing sentence with a tab

In [ ]:
# like we use "\n" for printing newline .
# for printing tab we use "\t".
print("9 D was the \tbest class.")

9 D was the 	best class.

In [ ]:
# priting with the variable
a = "hello"
b = "python"
print(a+"\t"+b)

hello	python

Common Errors while performing this task

adding an Integer/number in the following manner.

In [ ]:
a = 10
b = "python"
print(a+"\t"+b)               # when you will add an integer to the string it will cause the following error.

TypeError: ignored

Solution:-           convert integer to the string

To convert a integer to string you may use "str()" function

In [ ]:
a = 10
a = str(a)
b = "python"
print(a+"\t"+b)

10	python

Important Tips- You can convert an integer to string but you can not convert a string to integer.

Printing a varible after the statement ends.

for printing the value of the variables use comma after the inverted quotes and the enter your variable name.

In [ ]:
age = 10
age2 = 12
print("your age is", age, age2)

your age is 10 12

a difficult example.

In [ ]:
age = 10
name = "Pranay"
surname = "Joshi"
print("your age is ", age)
print("your name is ", name)
print("your surname is ", surname)

your age is  10
your name is  Pranay
your surname is  Joshi

Here we have to type print many times. 

To overcome this problem we can use "f" key word before inverted quotes when printing. And inside the quotes we write normal statements
'

In [ ]:
age = 10
name = "Pranay"
surname = "Joshi"
print(f"your age is {age}\nyour name is {name}\nyour surname is {surname}")

your age is 10
your name is Pranay
your surname is Joshi

Printing many variables in one line or via one print statement.

In [ ]:
x = "hi"
y = 42
z = 42.021                    # the decimal integers in python are called floats we will talk about them more in ch 5 Casting
print(x,y,z)

hi 42 42.021

Ex 3.2  Input

In python we take input using input command. here are some examples.

Ex 3.2.1  String/Word input

In [ ]:
a = input()           # We take string 
print(a)        # printing the value in the variable a

Pranay Joshi
Pranay Joshi

You may use this this input method to take a string input i.e whenever you will give an integer value it will not show an error but will show an error when you will use the variable for calculations

For ex:-

In [ ]:
a = input()
print(a+10)               # we will talk about calculations in the upcoming tutorials

10

TypeError: ignored

To solve the following error we may use "int(input())" command

Ex 3.2.2 taking an integer input

In [ ]:
a = int(input())
print(a+10)

10
20

Important Tips:- Remember if you use int(input()) for taking input.If the input you give is not an integer/number than it will give an error.

For ex- i will input "hello"

In [ ]:
a = int(input())
print(a+10)

Hello

ValueError: ignored

Note:- Earlier I told you you can not convert a string into an integer.

But actually you can convert a string to an integer by using "int()" function but the string should be a number.

For ex-

In [ ]:
a = input()
b = int(a)
print(b+10)      # adding 10 to b
# I entered 14 and it showed the result

14
24

taking input after printing

In [ ]:
print("What is your name?")
a = input()
print("your name is", a)

What is your name?
Pranay
your name is Pranay

Ex 3.2.3 Taking input after printing a line.

You can also take input after printing a line. by using quotes inside brackets of  input()/ int(input())  and type the line you want to print.

In [ ]:
a = input("enter your name: ")
print(a)

enter your name: pranay
pranay

Class Execise:- 1

In [ ]:
name = input("Enter your name")
age = int(input("Enter your age"))
father = input("Enter your father's name")
f_age = int(input("Enter your father's age"))
mother = # Mother name
m_age = int(input(""))
print("Your name is {}. Your father name is {}. Your mother name is: {}".format(name, father, mother))
age_str = str(age)
f_age_str = str()
m_age_str = str()
print("your age{}. your father's age{}. Your mother's{}")
age_sum =
print(" The sum of your family ages is.", age_sum)

** Ex4:-   Performing calculations**

In python you can perform calculations with mathematical symbols.

for addition        +

for multiplication  *

for subtraction     -

for division        /

for exponent        **

for remainder       %

Ex 4.1 Addition

In [ ]:
a = 10
b = 60
print(a+b)

70

Ex 4.2 Subtraction

In [ ]:
a = 10
b = 60
print(a-b)

-50

Ex 4.3 Multiplication

In [ ]:
a = 10
b = 60
print(a*b)

600

Ex 4.4 Division

In [ ]:
a = 10
b = 60
print(a/b)

0.16666666666666666

Ex 4.5 Exponent

In [ ]:
# we use "**" double astricts for exponents.
# for ex.
a = 10
b = 2
print(a**b)                   # this will print a to the power b i.e 10 to the power 2

100

you can take out the square root or cube root by dividing 1 by "b" in the above cae

In [ ]:
a = 10
b = 2
print(a**(1/b))

3.1622776601683795

Ex 4.6 Remainder

In [ ]:
a = 10
b = 2
print(a%b)                      # this will output the remainder when we divide 10 /2 which is 0

0

Remember:- python uses BODMAS rule for the calculation

**Ex 5 Casting**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

*  int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
*  float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
*  str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

Casting in python is therefore done using constructor functions:

Ex 5.1 Integers

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x, y, z)

1 2 3

Ex 5.2 Float

first let us talk about float.
Float is nothing but decimal.

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x, y, z, w)

1.0 2.8 3.0 4.2

Ex 5.3 Strigs

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x, y, z)

s1 2 3.0

**Ex 6 IF Elif Else**

They are also known as Conditional statements

If elif and else, they are widely used commands in python or even in any programming language. They are pritty easy to understand but are very crucial part of programming.

Signs:-
*   Equals: a == b
*   Not Equals: a != b
*   Less than: a < b
*   Less than or equal to: a <= b
*   Greater than: a > b
*   Greater than or equal to: a >= b

Ex 6.1 if statement

An "if statement" is written by using the if keyword

In [ ]:
a = 33
b = 10
if b > a:
  print("b is greater than a")
print(a+b)

43

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

Ex 6.2 Elif statement

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

Ex 6.3 Else Statement

The else keyword catches anything which isn't caught by the preceding conditions

In [ ]:
a = int(input())
b = int(input())
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

23
54
b is greater than a

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

For Example/

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Ex 6.4 Nested if's.

You can have if statements inside if statements, this is called nested if statements

In [ ]:
x = 41
if x > 10
  if x < 50:
    print("Above ten,")
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

**Ex 7 Boolean**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

The bool() function allows you to evaluate any value, and give you True or False in return,

Evaluate a string and a number:

In [ ]:
print(bool("Hello"))
print(bool(10))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

**Ex 8 Logical Operators**

The Logical operators acts as a filter in the conditional statements

These include
*  And
*  Or
* not

and	Logical AND: True if both the operands are true.

or	Logical OR: True if either of the operands is true.

not	Logical NOT: True if operand is false.

Ex 8.1 And

And Logical operator returns True if both the operands are True else it returns False.

In [ ]:
a = 10
b = 10
c = -10
  
if a > 0 and b > 0: 
    print("The numbers are greater than 0") 
if a > 0 and b > 0 and c > 0: 
    print("The numbers are greater than 0") 
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

Another example

In [ ]:
a = 10
b = 12
c = 0
  
if a and b and c: 
    print("All the numbers have boolean value as True") 
else: 
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

Ex 8.2 Or

Or Logical operator returns True if either of the operands is True.

In [ ]:
a = 10
b = -10
c = 0
  
if a > 0 or b > 0: 
    print("Either of the number is greater than 0") 
else: 
    print("No number is greater than 0") 
  
if b > 0 or c > 0: 
    print("Either of the number is greater than 0") 
else: 
    print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [ ]:
a = 10
b = 12
c = 0
  
if a or b or c: 
    print("Atleast one number has boolean value as True") 
else: 
    print("All the numbers have boolean value as False")

Atleast one number has boolean value as True

Ex 8.3 Not

Not Logical operator work with the single boolean value. If the boolean value is True it returns False and vice-versa.

In [ ]:
a = 10
if not a>12: 
    print("Boolean value of a is True")   
if not (a%3 == 0 or a%5 == 0): 
    print("10 is not divisible by either 3 or 5") 
else: 
    print("10 is divisible by either 3 or 5")

Boolean value of a is True
10 is divisible by either 3 or 5

**Ex 9 Lists**

There are 3 collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

Ex 9.1 Creating a list

In [ ]:
thislist = ["apple", "banana", "cherry", 20, 40]
print(thislist)

['apple', 'banana', 'cherry', 20]

Ex 9.2 Accessing elements

You access the list items by referring to the index number:

In [ ]:
lst = ["apple", "banana", "cherry"]
print(lst[0])          # here zero is the index
print(lst[1])          # here 1 is the index
print(lst[2])          # here 2 is the index

apple
banana
cherry

Important note:- In aevery programming language counting starts from 0 not 1. YOu may see the above example.

Ex 9.3 Error

Whenever you will try to access an element which is out of index it will give you an error like 

 list index out of range

For ex.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Ex 9.4 Negative Indexing

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

Ex 9.5 Adding Items

Ex 9.5.1 Appending Method

You can simply add an item using append() command. For ex.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Ex 9.5.2 Inserting method

To add an item at the specified index, use the insert() method:

Insert an item as the second position

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Ex 9.6 Removing Elements

Ex 9.6.1 Remove method

You can simply remove an item using remove() command. For ex.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

Ex 9.6.2 Pop method

The pop() method removes the specified index, (or the last item if index is not specified):

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

Ex 9.6.3 Del Method

The del keyword removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

Ex 9.6.4 Clear Method

The clear() method empties the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

Ex 9.7 copying a list

Ex 9.7.1 normal method

You can simply use the method of copying a variable. For ex.

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist
print(mylist)

['apple', 'banana', 'cherry']

Ex 9.7.2 Copy() Method

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Ex 9.8 Joining two Lists.

Ex 9.8.1 Normal/Standard way

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list2 + list1
print(list3)

[1, 2, 3, 'a', 'b', 'c']

Ex 9.8.2 Extend() Method

Use the extend() method to add list2 at the end of list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

Ex 9.9 The list() Constructor

Here is the example of a list conductor

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Here is another example. If you want to convert every letter of a string into a list element

In [ ]:
a = list("abcdefghijklmnopqrstuvwxyz")
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

Ex 9.10 sets

Set is also known as the fourth type of array but it's used rarely. We will use it here as a helper to the list

Ex 9.10.1 Using set() to remove the multiple occurance of an element in the list.

In [ ]:
a = ["apple", "banana", "cherry","apple", "banana"]
a = set(a)
print(list(a))

['cherry', 'banana', 'apple']

Ex 9.11 Reversing the list.

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

Ex 9.12 Sort

Ex 9.12.1 Sorting the list (asscending)

The sort() method sorts the list ascending by default.

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

when list contains an integer values

In [ ]:
no = [2,1,5,4,3]
no.sort()
print(no)

[1, 2, 3, 4, 5]

Ex 9.12.2 Sorting the list(descending)

You can also make a function to decide the sorting criteria(s). For ex :-

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True)
print(cars)

With integer values.

In [ ]:
no = [2,1,5,4,3]

no.sort(reverse=True)
print(no)

[5, 4, 3, 2, 1]

Ex 9.13 Count

The count() method returns the number of elements with the specified value.

In [ ]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x = points.count(9)
print(x)

2

**Ex 9.14 List index**

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
x = cars.index("Ford")
print(x)

0

**Ex 9.15 Len**

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
x = len(cars)
print(x)

3

**Ex 10. Slicing**

The slicing returns a slice object that can use used to slice strings, lists, tuple etc.

Here is the syntax for slicing the list.


```
obj[start:stop:step]
```

Ex 10.1 Slicing Strings

In [ ]:
py_string = "Python"

# contains indices 0, 1 and 2
print(py_string[2:])

Python

In [ ]:
py_string = 'Python'

# contains indices 0, 1 and 2
print(py_string[0:5:2])

Pto

Ex 10.2 Slicing Lists

In [ ]:
py_lst = ["P","y","t","h","o","n"]

# contains indices 0, 1 and 2
print(py_lst[0:3])

['P', 'y', 't']

In [ ]:
py_lst = ["P","y","t","o","n"]

# contains indices 0, 1 and 2
print(py_lst[0:4:2])

['P', 't']

Using the list() command

In [ ]:
py_lst = list("python")

# contains indices 0, 1 and 2
print(py_lst[0:5:2])

['p', 't', 'o']

Ex 10.3 Reversing th list and strings

Ex 10.3.1 Reversing a List

In [ ]:
py_lst = ["P","y","t","h","o","n"]

# contains indices 0, 1 and 2
print(py_lst[::-2])

['n', 'h', 'y']

Ex 10.3.2 Reversing a string.

In [ ]:
py_string = "Python"

# contains indices 0, 1 and 2
print(py_string[::-1])

nohtyP

**Ex 11 Identity Operators**

These includes-
*  in
*  not in
*  is
*  is not

Ex 11.1 in Operator.

In can be used in the following way.

In [ ]:
thislist = ["apple", "banana", "cherry"]
a = "apple"
if a in thislist:
  thislist.append("apple2")
  print(thislist)

['apple', 'banana', 'cherry', 'apple2']

Ex 11.2 Not in

It act as opposite to in

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" not in thislist:
  print("Yes, 'apple' is in the fruits list")

Exx 11.3 Is

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]


# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

True
False

Ex 11.4 Is Not

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

False

**Ex 12 Tuples**

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

Ex 12.1 Create a Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Ex 12.2 Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Ex 12.3 Negative Indexing

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Ex 12.4 Slicing tuples

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Ex 12.5 Range of Negative Indexes

This example returns the items from index -4 (included) to index -1 (excluded)

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Ex 12.6 Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Ex 12.7 Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Ex 12.8 Tuple Length

To determine how many items a tuple has, use the len() method

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Ex 12.9 Add Items

Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "orange" 
print(thistuple)

['apple', 'orange', 'cherry']

Ex 12.10 Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Ex  12.11 Remove Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: ignored

Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

The del keyword can delete the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: ignored

Ex 12.12 Join Two Tuples

To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple2 + tuple1
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

Ex 12.13 The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

**Ex 13 While Loops**

Python has two primitive loop commands:
* while loops
* for loops

Ex 13.1 While Loops

Print i as long as i is less than 6:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Note: remember to increment i, or else the loop will continue forever.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

Ex 13.2 The break Statement

With the break statement we can stop the loop even if the while condition is true:

Exit the loop when i is 3:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Ex 13.3 The continue Statement

With the continue statement we can stop the current iteration, and continue with the next:

Continue to the next iteration if i is 3:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Ex 13.4 The else Statement

With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Ex 14 For Loops**

Ex 14.1 Python For Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Print each fruit in a fruit list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.

Ex 14.2 Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:

Loop through the letters in the word "banana":

In [ ]:
ba = "banana"
for x in ba:
  print(x)

b
a
n
a
n
a

Ex 14.3 The break Statement

With the break statement we can stop the loop before it has looped through all the items:

Exit the loop when x is "banana":

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple

Exit the loop when x is "banana", but this time the break comes before the print:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

Ex 14.4 The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next:

Do not print banana:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

Ex 14.5 The range() Function

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(11):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

Using the start parameter:

In [ ]:
for x in range(2, 6):
  print(x)

2
4

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

Increment the sequence with 3 (default is 1):

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Ex 14.6 Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

Print all numbers from 0 to 5, and print a message when the loop has ended:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Ex 14.7 Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Ex 14.8 The pass Statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

**Ex 15 Dictionary**

Ex 15.1 Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
thisdict = {
  "Pranay": 254367,
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'Pranay': 254367, 'model': 'Mustang', 'year': 1964}

Ex 15.2 Accessing Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

Get the value of the "model" key:

In [ ]:
x = thisdict["Pranay"]
print(x)

254367

There is also a method called get() that will give you the same result:

In [ ]:
x = thisdict.get("model")

Ex 15.3 Change Values

You can change the value of a specific item by referring to its key name:

Change the "year" to 2018:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2020

Ex 15.4 Loop Through a Dictionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

Print all values in the dictionary, one by one:

In [ ]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2018

You can also use the values() method to return values of a dictionary:

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

Loop through both keys and values, by using the items() method:

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

Ex 15.6 Check if Key Exists

To determine if a specified key is present in a dictionary use the in keyword:

Check if "model" is present in the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Ex 15.7 Dictionary Length

To determine how many items (key-value pairs) a dictionary has, use the len() function.

In [ ]:
print(len(thisdict))

3

Ex 15.8 Adding Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Ex 15.9 Removing Items

There are several methods to remove items from a dictionary:

The pop() method removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

The del keyword removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Ex 15.10 Deleting Elements

The del keyword can also delete the dictionary completely:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: ignored

The clear() method empties the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Ex 15.11 Copy a Dictionary

In [ ]:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict2 = dict1
print(dict2)
dict1["brand"] = "farari"
print(dict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

Another way to make a copy is to use the built-in function dict().

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Ex 15.12 Nested Dictionaries

A dictionary can also contain many dictionaries, this is called nested dictionaries.

Create a dictionary that contain three dictionaries:

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Or, if you want to nest three dictionaries that already exists as dictionaries:

Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}
myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

Ex 15.13 The dict() Constructor

It is also possible to use the dict() constructor to make a new dictionary:

In [ ]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Ex 16 Functions**

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Ex 16.1 Creating a Function

In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

Ex 16.2 Calling a Function

To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

Ex 16.3 Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")
  
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

Ex 16.4 Parameters or Arguments?

The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

Ex 16.5 Number of Arguments

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

This function expects 2 arguments, and gets 2 arguments:

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

Errors

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emile")

TypeError: ignored

If you try to call the function with 1 or 3 arguments, you will get an error:

Ex 16.6 Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

If the number of arguments is unknown, add a * before the parameter name:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[1:-1])

my_function("Emil", "Tobias", "Linus", "rishi", "pranay")

The youngest child is Tobias

Arbitrary Arguments are often shortened to *args in Python documentations.


Ex 16.7 Keyword Arguments

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

The phrase Keyword Arguments are often shortened to kwargs in Python documentations.


Ex 16.8 Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

Arbitrary Kword Arguments are often shortened to **kwargs in Python documentations.

Ex 16.9 Default Parameter Value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Ex 16.10 Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

Ex 16.11 Return Values

To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

Ex 16.12 The pass Statement

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def myfunction():
  pass

Ex 16.13 Recursion

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

Ex 17 Python User-defined Functions

**What are user-defined functions in Python?**

Functions that we define ourselves to do certain specific task are referred as user-defined functions. The way in which we define and call functions in Python are already discussed.

Functions that readily come with Python are called built-in functions. If we use functions written by others in the form of library, it can be termed as library functions.

All the other functions that we write on our own fall under user-defined functions. So, our user-defined function could be a library function to someone else.

**Advantages of user-defined functions**

1. User-defined functions help to decompose a large program into small segments which makes program easy to understand, maintain and debug.
2. If repeated code occurs in a program. Function can be used to include those codes and execute when needed by calling that function.
3. Programmars working on large project can divide the workload by making different functions.

In [ ]:
# Program to illustrate
# the use of user-defined functions

def add_numbers(x,y):
   sum = x + y
   return sum

num1 = 5
num2 = 6

print("The sum is", add_numbers(num1, num2))

The sum is 11

**Ex Programs**

Ex 1 Calculator

In [ ]:
first_no = int(input("Enter the first no.: "))
second_no = int(input("Enter the second no.: "))
symbol = input("Enter a symbol of the computations you want to perform. (i.e +, -, *, /) ")
if symbol == "+":
    print(first_no + second_no)
elif symbol == "-":
    print(first_no - second_no)
elif symbol == "*":
    print(first_no * second_no)
elif symbol == "/":
    if second_no != 0:
        print(first_no / second_no)
    else:
        print("You can not divide a number with 0")
else:
    print("invalid symbol")

Enter the first no.: 0
Enter the second no.: 10
Enter a symbol of the computations you want to perform. (i.e +, -, *, /) /
0.0

Ex 2 Palindrome.

In [ ]:
name = input("Enter the string: ")
name = name.lower()
print(name)
palindrome = name[::-1]
if palindrome == name:
    print("yes, the number is palindrome.")
else:
    print("no, its not a palindrome.")

Enter the string: naman
naman
yes, the number is palindrome.